<h1>{{title}}</h1>

<p>
  <a href="new_book.html" class="button" class="button">Create New Book</a>
</p>

<p>Filters
  {{#withSeparator navigation.bookFilter "|"}}
  <a href="{{route}}">{{filterLabel}}</a> {{/withSeparator}}
</p>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year Released</th>
        </tr>
    </thead>
    <tbody>
        {{#each books}}
          <tr>
            {{#with dataValues}}
              <td>
                <a href="book_detail.html">
                  {{title}}
                </a>
              </td>
              <td>{{author}}</td>
              <td>{{genre}}</td>
              <td>{{first_published}}</td>
            {{/with}}
          </tr>
        {{/each}}
    </tbody>
</table>
