{{> loans_page_elements}}


<table>
    <thead>
        <tr>
            <th>Book</th>
            <th>Patron </th>
            <th>Loaned on</th>
            <th>Return by </th>
            <th>Returned on</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
      {{#each data}}
        {{#with this.dataValues}}
        <tr>
            <td><a href="/book-detail/{{this.book.dataValues.id}}">{{this.book.dataValues.title}}</a></td>
            <td>
              {{#with this.patron.dataValues}}
                <a href="/patron-detail/{{this.id}}">
                  {{this.first_name}} {{this.last_name}}
                </a>
              {{/with}}
            </td>
            <td>{{this.loaned_on}}</td>
            <td>{{this.return_by}}</td>
            <td>{{this.returned_on}}</td>
            <td><a href="/return-book/{{this.id}}" class="button">Return Book</a></td>
        </tr>
        {{/with}}
      {{/each}}
    </tbody>
</table>
